*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  background-color: #fdfdfd;
  font-family: "Josefin Sans", sans-serif;
}

#wrapper {
  color: Black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  width: 50%;
  margin: 0 auto;
}

/* #inputContainer{
  color: Black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  width: 100%;
  margin: 0 auto;
} */

#btn {
  height: 60px;
  width: 700px;
  margin: 10px;
  background-color: lightskyblue;
  font-size: 20px;
}

#questionHolder {
  text-align: center;
  margin: 30px;
}

#choice0 {
  font-weight: 800;
}

#message {
  margin: 50px;
}

#time {
  margin: 50px;
}

#myText {
  width: 800px;
  height: 80px;
  margin: 0px;
}



#startBtn {
  width: 100px;
  margin: 50px;
  margin: 0px;
  
}